doctype html
html(lang="ja")
  head
    meta(charset='UTF-8')
    title wordpress-loader
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    meta(content='author', name='shgtkshruch')
    meta(content='description', name='wordpress file load order')
    meta(content='keywords', name='wordpress')
    meta(content='width=device-width, initial-scale=1' name='viewport')
    meta(content='telephone=no', name='format-detection')

    link(rel='stylesheet', href='styles/style.css', media='all')
  body

    script(src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.5.0/d3.min.js")
    script(src='scripts/script.js')
